<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

 
    <script type="module">
      import { Supertab } from "https://js.supertab.co/v3/sdk.js";

      // Initialize Supertab client
      const supertabClient = new Supertab({ clientId: "live_client.7fa31d20-7b80-4fc7-b9f5-8aa0d9c09c47" });

      // Create the paygate
      const { initialState, show } = await supertabClient.createPaygate({
        experienceId: "experience.c6f3c3df-a359-40ca-9fb4-1b76b167fffb"
      });

      // Check if the user has prior entitlement
      if (initialState.priorEntitlement) {
        // Insert your code to handle when user has prior entitlement when accessing the page
        console.log("User has prior entitlement", initialState.priorEntitlement);
      } else {
        // Show the paygate
        const { priorEntitlement, purchase, purchasedOffering } = await show();

        if (priorEntitlement) {
          // Insert your code to handle when user has prior entitlement
          console.log("User has prior entitlement", priorEntitlement);
        } else if (purchase && purchase.status === "completed") {
          // Insert your code to handle when user purchases an offering
          console.log("Purchase completed!", purchase);
        } else {
          // Insert your code to handle when user abandons the flow without purchase or prior entitlement
          console.log("Purchase canceled!");
          window.location.href = "https://cabusto.github.io";
        }
      }
    </script>
  
    
    
   {{ content }}
</body>
</html>
